:root {
    --orangeprime : #F97E6C;
    --blackrgba : rgb(10,11,13);
}

html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;

}
img {
display: block;
max-width: 100%;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}

/* navbar */

.navbar {
    background-color: black;
    
}

.navbar-wrapper {
   padding : 20px 0px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}

.navbar-menu-icon {
    font-size: 0.5rem;
    transform: translateY(-2.5px);
}

.navbar-menu-item ~ .navbar-menu-item {
    margin-left: 30px;
}

.navbar-menu-item a {
    color: white;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
}

.navbar-menu-item a:hover {
    color : var(--orangeprime);
}

.navbar-menu-item:nth-child(3) {
    position: relative;
}

.navbar-sub-menu{
    width: 100%;
    position: absolute;
    list-style-type: none;
    padding : 20px;
    background-color: var(--blackrgba);
    top: 68px;
}

.navbar-sub-menu-item {
   margin : 10px 0;
}

.navbar-sub-menu-item a {
    font-size: 0.8rem;
    letter-spacing: 1.2px;
}

.navbar-icon {
    display: flex;
    list-style-type: none;
}

.navbar-icon-item ~ .navbar-icon-item {
    margin-left: 20px;
}

.navbar-icon-item a {
    color : white;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.navbar-icon-item a:hover {
    color : var(--orangeprime);
}

.navbar-icon-item:last-child {
    display: none;
}