html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;

}
img {
display: block;
max-width: 100%;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}

/* navbar */

.navbar {
    background-color: black;
    
}

.navbar-wrapper {
   padding : 20px 20px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}

.navbar-menu-icon {
    font-size: 0.5rem;
    transform: translateY(-10px);
}

.navbar-menu-item ~ .navbar-menu-item {
    margin-left: 30px;
}

.navbar-menu-item a {
    color: white;
    font-size: 1rem;
}

.navbar-icon {
    display: flex;
    list-style-type: none;
}

.navbar-icon-item ~ .navbar-icon-item {
    margin-left: 30px;
}

.navbar-icon-item a {
    color : white;
    font-size: 1.5rem;
}