:root {
    --orangeprime : #F97E6C;
    --blackrgba : rgba(0, 0, 0, 0.945);
    --footer-color : #AEAEAE;
}

html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;

}
img {
display: block;

}

ul{
    list-style-type: none;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}

span {
    color: var(--orangeprime);
    cursor: pointer;
    transition : all 0.3s linear;
    font-size: 1.4rem;
    font-weight: bold;
}

span:hover {
    color : white
}

li {
    list-style-type: none;
}

.container {
    margin : 0 auto;
    padding: 0 10%;
}
/* navbar */

.navbar {
    background-color: black;
    position: relative;
    
}

.navbar-wrapper {
   padding : 20px 0px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}

.navbar-menu-icon {
    font-size: 0.5rem;
    transform: translateY(-2.5px);
    transition : 0.2s linear;
}

.navbar-menu-icon{
    transition: 0.2s ease-in-out;
}

.navbar-menu-icon.active {
    transform: rotate(-180deg);
}

.navbar-menu-item {
    position: relative;
}

.navbar-menu-item a.active {
    color: var(--orangeprime);
}

.navbar-menu-item ~ .navbar-menu-item {
    margin-left: 30px;
}

.navbar-menu-item a {
    color: white;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
}


.navbar-menu-item a:hover {
    color : var(--orangeprime);
}

.navbar-menu-item:nth-child(3) {
    position: relative;
}



.navbar-sub-menu{
    width: 150px;
    position: absolute;
    list-style-type: none;
    padding : 20px;
    background-color: var(--blackrgba);
    top: 30px;
    
    display : none;
    transition: all 0.2s ease-in-out;
}


.navbar-menu-item:active .navbar-sub-menu {
    display : block;
    top: 30px;
}




.navbar-sub-menu-item {
   margin : 10px 0;
}

.navbar-sub-menu.active {
    display : block;
}

.navbar-sub-menu-item a {
    font-size: 0.8rem;
    letter-spacing: 1.2px;
}

.navbar-icon {
    display: flex;
    list-style-type: none;
}

.navbar-icon-item ~ .navbar-icon-item {
    margin-left: 25px;
}

.navbar-icon-item a {
    color : white;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.navbar-icon-item a:hover {
    color : var(--orangeprime);
}

.navbar-icon-item:last-child {
    display: none;
}

.mobile-close-icon {
    display: none;
}

/* section-hero */

.hero-section {
    position: relative;
    height: 70vh;
}


.bgimg {
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.bgimg::after {
    content : '\A';
    position : absolute;
    width: 100%;
    height : 100%;
    top: 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) ;
    text-align: center;
    z-index: 10;
}

.caption h2 {
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 30px;
}

.caption p {
    color : white;
    font-size: 20px;
}

.caption button {
    background-color:white;
    border: 2px solid  var(--orangeprime);
    color : red;
    padding : 10px 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 16px;
    margin-top: 30px;
}

.caption button:hover {
    cursor: pointer;
    color : white;
    background-color:  var(--orangeprime);
}

/* footer */
.footer {
    color: var(--footer-color);
    margin-top: 200px;
    background-color: black;
    line-height: 1.5;
}

.footer-contact {
    background-color: var(--orangeprime);
  
    
}

.footer-contact h3 {
  color :white;
}

.footer-contact-content {
    padding : 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.form input {
    padding: 10px 20px;
    width: 300px;
}

.form a {
    padding: 10px;
    background-color: black;
    color : white;
}

.form {
    display: flex;
    flex-wrap: nowrap;
}

::placeholder {
    color: var(--footer-color);
}

.footer a {
    color: var(--footer-color);
    transition : 0.3s linear;
}

.footer a:hover {
    color: var(--orangeprime);
}

.footer-menu h3 {
    margin-top: 20px;
    color : white;
    margin-bottom: 20px;
}

.wrapper {
    padding: 20px;
    position: relative;
}


.footes-des-item {
    margin-top: 30px;
    display : flex;
    align-items: center;
}

.footer-des-icon {
    display : flex;
    align-items: center;
    justify-content:center;
    width: 36px;
    height : 36px;
    background-color: var(--orangeprime);
    margin-right: 20px;
}

.footer-des-icon i {
    font-size: 1.4rem;
    color : white;
   
}


.footer-menu-item li {
    margin-top: 10px;
}

.footer-social {
    display : flex;
    transform: translateX(-9px);
}

.footer-img{
    margin-top: 20px;
}

.footer-social li  {
    display : flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin-left: 10px;
    width: 36px;
    height : 36px;
    background-color: var(--orangeprime);
}

.footer-social li a {
   color : white;
   font-size: 1.4rem;
}

.footer-social li:hover a {
    color : white;
 }
